version: '3.8'

services:
  app:
    build: .
    container_name: ai_api
    restart: always
    ports:
      - '2301:2301'
    env_file:
      - .env
    volumes:
      - ai_api_data:/app/prisma
    command: >
      sh -c "npx prisma migrate deploy && node dist/index.js"

volumes:
  ai_api_data:
